body {
  text-align: center;
}

nav{
  margin-top: 20px;
}

.navbar-heading{
  font-size: 30px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#navbar-btn {
  float: right;
}

